<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="item in main.response.data.cakelist |filter:search">
    <a ng-href="#/buy/{{$index}}">
      <div class="thumbnail">
        <img ng-src="{{::item.image_url}}" alt="{{::item.name}}">
      </div>
    </a>

    <div class="caption">
      <h3>{{::item.name}}</h3>
      <h4>Price: Rs{{::item.price}}</h4>
      <p>
        <a ng-href="#/buy/{{$index}}" class="btn btn-block btn-primary" role="button">
               Buy Now
            </a>
      </p>

    </div>
  </div>
</div>